<ion-header>
  <ion-toolbar>
    <ion-title>
      Photo Grab
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>


  <div align="center">
    <ion-button round (click)="capture()">
      <ion-icon name="md-camera"></ion-icon>
    </ion-button>
  </div>

  <ion-card>
    <div *ngIf="image">
      <ion-img src="{{image}}" (click)="capture()"></ion-img>
    </div>

    <div *ngIf="!image">
      <ion-img src="assets/images/place_holder.png" (click)="capture()"></ion-img>
    </div>
  </ion-card>

  <div align="center">

    <ion-button round (click)="saveImage()">Save</ion-button>
    <ion-button round (click)="logout()">Logout</ion-button>
  </div>

</ion-content>
